block variables

doctype html
head
    meta(charset="UTF-8")
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    link(rel="stylesheet", href="css/bundle.css")
    title #{pageTitle}
body
    include ../modules/header

